* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  background: #000;
  padding-bottom: 20px;
  display: flex;
}

.header__logo {
  margin-top: 56px;
  margin-left: 12%;
}

.header__logo p {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

nav {
  margin-top: 56px;
  margin-left: 29%;
}

.topnav a {
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
}

.topnav a:hover {
  border-bottom: 3px solid #fcac45;
}

.topnav .icon {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__welcome {
  background: #000;
  text-align: center;
  padding: 200px 0 380px 0;
}

.main__welcome h1 {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 44px;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -2.2px;
  margin: 0 auto;
}

.main__welcome .mycompany {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-size: 44px;
  color: #fcac45;
  font-weight: 800;
  letter-spacing: -2.2px;
}

.main__welcome p {
  color: #999;
  font-size: 20px;
  letter-spacing: -1px;
}

.main__welcome .bold {
  font-weight: 800;
  letter-spacing: -1px;
}

.main__about {
  padding: 100px 0px;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about_right {
  margin-left: 20px;
}

.about_right h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 34px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.about_right .bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.about_right p {
  width: 400px;
  font-size: 18px;
  color: #6c6c6c;
  letter-spacing: -0.72px;
  margin: 30px 0 40px 0;
}

.list__item {
  font-size: 16px;
  padding-left: 27px;
  margin-bottom: 10px;
}

.list__item:before {
  content: url("../img/list_style_dot.png");
  display: inline-block;
  width: 27px;
  margin-left: -27px;
}

.list__item b {
  font-size: 18px;
  font-weight: 800;
}

.mw-100 {
  min-width: 100%;
}

.main__team {
  background: #000;
  padding: 100px 0 120px 0;
  color: #fff;
  text-align: center;
}

.team__header {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 100px;
  margin-top: 30px;
  border-bottom: 3px solid #fcac45;
}

.team__cards {
  margin-top: 85px;
  display: flex;
}

.card {
  margin: 0 40px;
}

.card__photo {
  background: #d7d7d7;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 20px auto;
}

.card__name {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.card__position {
  font-size: 16px;
  margin-bottom: 35px;
}

.card__description {
  font-size: 14px;
}

.main__services {
  text-align: center;
  padding: 100px 0 100px 0;
}

.services__header {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.services__desc {
  font-size: 16px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 100px;
}

.servises__cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}

.card__header {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.main__clients {
  color: #fff;
  background: #000;
  text-align: center;
  padding: 100px 0 200px 0;
}

.clients__header {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 100;
}

.clients__header-bold {
  font-weight: 800;
}

.clients {
  margin-top: 100px;
}

.clients__icon {
  margin-left: 30px;
  margin-top: 10px;
}

.main__works {
  text-align: center;
  padding: 100px 0 100px 0;
}

.works__header {
  font-family: 'Open Sans Light', sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 100;
  margin-bottom: 30px;
}

.works__header-bold {
  font-weight: 800;
}

.works__desc {
  margin-top: 50px;
  margin-bottom: 100px;
  font-style: italic;
  color: #6c6c6c;
  font-size: 16px;
}

.gallery__image:hover {
  opacity: 0.9;
}

.main__testimonials {
  color: #fff;
  background: #000;
  text-align: center;
  padding: 100px 0 150px 0;
}

.testimonials__header {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.testimonials__message {
  color: #c7c7c7;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 110px 0 50px 0;
}

.testimonials__author {
  color: #b2b2b2;
  font-size: 18px;
}

.testimonials__author-bold {
  font-weight: 800;
}

.contact__form {
  padding: 100px 0 100px 0;
}

.contact__wrapper {
  width: 760px;
  margin: 0 auto;
  text-align: center;
}

.contact__header {
  font-size: 44px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact__desc {
  color: #6c6c6c;
  font-size: 16px;
  font-style: italic;
  margin-top: 50px;
}

form {
  text-align: left;
}

.form__inputs {
  margin-top: 100px;
  display: flex;
}

.name__container {
  margin-right: 40px;
}

label {
  color: #636363;
}

.red {
  color: red;
}

input {
  width: 360px;
  height: 40px;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height: 160px;
}

input, textarea {
  font-size: 20px;
  border: 1px solid #999;
  margin-top: 5px;
}

.button__block {
  display: flex;
  justify-content: flex-end;
}

input[type=submit] {
  font-size: 16px;
  color: #fff;
  width: 170px;
  height: 40px;
  background: #fcac45;
  margin-top: 20px;
}

footer {
  padding: 30px 0 30px 0;
  background: #222222;
  display: flex;
  justify-content: center;
}

.social__icon:not(:last-child) {
  margin-right: 10px;
}

.social__icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1300px) {
  nav {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1110px) {
  nav {
    margin-left: 8%;
  }
}

@media screen and (max-width: 960px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    float: right;
    margin-top: -17px;
    color: #fff;
    font-size: 25px;
  }
  nav {
    width: 100%;
  }
  .topnav.responsive {
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive {
    height: 340px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: -50px;
    right: -200px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .main__welcome {
    padding: 50px 0px;
  }
  .main__welcome h1 {
    font-size: 36px;
  }
  .main__welcome .mycompany {
    font-size: 36px;
  }
  .main__welcome p {
    font-size: 16px;
  }
  .mw-100 {
    max-width: 100%;
  }
  .main__about {
    flex-direction: column;
  }
  .about_right {
    margin-left: 0;
    text-align: center;
  }
  .about_right h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .about_right p {
    width: 100%;
  }
  .about_right li {
    text-align: left;
  }
  .team__cards {
    flex-direction: column;
  }
  .servises__cards {
    grid-template-columns: auto;
  }
  .gallery__image:not(:first-child) {
    display: none;
  }
}
